.app {
  display: flex;
  flex-direction: column;
  font-family: "Inter","Segoe UI", "Roboto", "Oxygen", "Arial", "sans-serif";
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  padding-right: 20px;
}

.nav-item {
  cursor: pointer;
  margin: 0 10px;
}


.user-icon {
  cursor: pointer;
}

.sidebar, .entries-sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  height: calc(100vh - 60px); /* Adjust for navbar height */
  overflow-y: auto;
  width: 20%;
}
.entry-path {
  color: gray;
}


.sidebar {
  border-right: 1px solid #ddd;
}

.main-layout{
  display: flex;
  flex-direction: row;
}

.entries-sidebar {
  border-right: 1px solid #ddd;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* New Entry Button (David) */
.new-entry-button{
  /* subject to change */
  font-size: 20px;
  padding: 13px 5px;

}

/* Change stats/entries button (David) */
.toggle-button{
  /* subject to change */
  padding: 0px 5px;
}

.main-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.view-switch {
  margin-bottom: 10px;
}

.rich-textarea {
  flex: 1;
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* change margins? (David) */
/* h3 {
  margin: 0px;
} */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
}

.view-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.slider {
  position: relative;
  width: 10em;
  height: 2.5em;
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-button {
  position: absolute;
  top: 4px;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.left .slider-button {
  transform: translateX(0.1em);
}

.right .slider-button {
  transform: translateX(8em); /* Adjust to fit slider width */
}

.slider.left {
  background-color: lightgrey;
}

.slider.right {
  background-color: lightblue;
}

.slider-text {
  position: absolute;
  display: flex; /* Flexbox ensures vertical centering */
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
  height: 2.5em; /* Match the button's height */
  width: 100%; /* Make the text span the full width of the slider */
  font-weight: bold;
  color: white;
  pointer-events: none;
  z-index: 1;
}