.home-grid {
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,5fr);
    gap: 2rem;
    padding: 2rem 2rem 0;
    height: calc(95vh - 8vh);
}

.home-grid > *{
    overflow: hidden;
    min-width: 0;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
    overflow: scroll;
}

.card-cont{
    height: 15vh;
}

.week-cal{

}

.goal-list{
    height: 20vh;
}

.top-flex-container {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping */
    overflow-x: auto; /* Enables horizontal scrolling */
    /* gap: 1rem; */
    width: 100%; /* Ensure it doesn't shrink */
    height: 250px; /* Adjust based on your needs */
    white-space: nowrap; /* Prevents internal wrapping */
    border: 1px solid green;
}

.graph-view-switch{
    border: 1px black solid;
    border-radius: 20%;
}

.top-graph{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 0px;
}

.progress-block-recent-activities {
    height: 2em;
    width: 2em;
    border-radius: 10%;
    align-content: center;
    text-align: center;
    font-size: 16pt;
}

.checkbox-container{
    gap: 1em;
    /* border: 1px solid #f00; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    height: 2em;
    width: 100%;
}

.bottom-graph{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.day {
    text-align: center;
    width: 2.5em;
    font-size: 16px;
}

.contents-container{
    display: flex;
    flex-direction: column;
    margin: 0 0 2em;
    justify-content: space-between;
    gap: 1em;
    /* border: red solid 1px; */
}

.bottom-flex-container{
    display: flex;
    width: 100%;
    margin: auto auto 0;
    gap: 1em;
    /* border: red solid 1px; */
}

.progress-card{
    flex: 3;
    /* margin: 2vh auto; */
}

.progress-container {
    display: flex;
    justify-content: space-between;
    margin: 2vh auto;
    padding: 2vh 1vw;
    gap: 1em;
}

.new-entry-card{
    flex: 1;
}

