.scroll-wrapper {
    position: relative;
    height: 4000px;
    background-color:white;
}

.phone-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the phone */
    z-index: 1; /* Ensure all images stack in the same position */
    pointer-events: none; 
    /* Prevent interaction with invisible images */
}

.phone {
    width: 347px; /* Ensure consistent sizing */
    height: 743px;
}
