body {
    /* border: red solid 1px; */
    margin: 0;
    /* height: 90vh; */
}

.app {
    background: linear-gradient(180deg, #3A6EFF 0%, #CDD791 50%, #C5C8FF 100%);
    font-family: --apple-system, var(--inter-font);
}

.icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.brand {
    display: flex;
    padding: 0 20px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: x-large;
    color: #FFF;
}

.top-bar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    border-bottom: rgba(255, 255, 255, 0.3) solid;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin: 0.75rem 1.5rem;
    cursor: pointer;
}

.user-icon {
    margin: auto 50px;
}

.nav-bar {
    display: flex;
    width: 15%;
    padding-right: 0;
    margin: auto 0 auto auto;
    justify-content: space-between;
    align-items: center;
}

.nav-pill {
    padding: 2px 0.6em;
    border-radius: 10%;
    color: #FFF;
}

.nav-pill.selected {
    background-color: #FFF;
    color: #000;
}

.home-container {
    flex: 1;
    display: flex;
    padding: 2rem 5rem;
    height: 100%;
}

.content-box {
    flex: 1;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 4rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-grid{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


/* Side Bar */
.side-bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid #000;
    margin-right: 5rem;
}
.side-bar p{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.side-bar li{
    color: black;
}

.side-bar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
}

.nav-pill.selected{
    background-color: #f9f9f9;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    height: 6%;
    margin-right: 10rem;
}

.update-button{
    width: 20%;
}


/* Account Display */
.account-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.account-container p{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.account-content{
    flex: 1;
    padding-left: 2.5rem;
    padding-right: 10rem;
}
.account-content p{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2rem;
}

.content-list{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    border-bottom: 1px solid #A3A3A3;
}
.form-group label{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile-image-container{
    width: 70px;
    height: 70px;
}
.profile-image{
    width: 100%;
    height: 100%;
}

/* Notifications */
.notifications-form-group{
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    border-bottom: 1px solid #A3A3A3;
}

.view-switch{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.notifications-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.notifications-container p{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.notifications-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 10rem;
}
.notifications-content p{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.notifications-content-list{
    flex: 1;
    display: flex;
    flex-direction: column;
}
