
.journal-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid green  transparent;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.journal-title{
  display: flex;
  padding: 0 0;
}

.journal-item input{
  font-size: 95%;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  border: none;
  background-color: transparent;
}

.selected{
    font-weight: 700;
    font-size: large;
}

.journal-item:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.journal-item:active {
  background-color: #c0d0c0;
}

.edit-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1px 4px;
  margin: 0 10px;
}

.edit-button:hover {
  border: dashed gray;
  background-color: #f4f4f4;
}

.journal-item:hover .edit-button {
  display: flex;
}

.action-button-container{
  display: flex;
    margin-left: auto;
    margin-right: 0px;
}