.app {
  display: flex;
  flex-direction: column;
  font-family: "Inter","Segoe UI", "Roboto", "Oxygen", "Arial", "sans-serif";
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
  padding-right: 20px;
}

.nav-item {
  cursor: pointer;
  margin: 0 10px;
}


.icon{
  height: 1em;
}

.user-icon {
  cursor: pointer;
}

.sidebar, .entries-sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  height: calc(100vh - 50px); /* Adjust for navbar height */
  overflow-y: auto;
  width: 20%;
}

.sidebar {
  border-right: 1px solid #ddd;
}

.main-layout{
  display: flex;
  flex-direction: row;
}

.entries-sidebar {
  border-right: 1px solid #ddd;
}

.flex-container{
  display: flex;
}

.main-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.view-switch {
  margin-bottom: 10px;
}

.rich-textarea {
  flex: 1;
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}


h3 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
}
