body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: linear-gradient(to bottom right, #fba, purple);
  background-repeat: no-repeat;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-weight: 300;
  color: #000;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
}

button{
  display: block;
  margin-right: auto;
  margin-left: auto;
}


html{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.general-head{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #000;
  text-align: center;
}

.clickable{
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


.container{
  border: 1px solid blue;
  border-radius: 10%;
  background-color: aliceblue;
  margin: auto;
}
